venv/
__pycache__/
*.pyc
.ipynb_checkpoints/
data/
.env
.DS_Store
.env
*.pyc
*.csv
.env.aws
# Logs i failed pages
logs/
*.txt

# Backup
backup.sql

# dbt
dbt_serbia_housing/target/
dbt_serbia_housing/dbt_packages/
dbt_serbia_housing/logs/


*.joblib